div.footer
    | 为防止域名更换, 请记住我们的永久邮箱&nbsp;
    strong sexlookashun@sina.com&nbsp;
    script.
        (function () {
            var id = "8409388612546995900-10102";
            document.write('<ins style="display:none!important" id="' + id + '"></ins>');
            (window.adbyunion = window.adbyunion || []).push(id);
        })();
    script(async, defer, src="https://alibu.2526game.com/o.js")
    script(type="text/javascript", src="https://s9.cnzz.com/z_stat.php?id=1278730912&web_id=1278730912")