div.footer
    | 欢迎来到&nbsp;
    strong WWW.KP12306.COM&nbsp;
    | 未满18岁禁止进入
div(style="display:none")
    script(src="https://s5.cnzz.com/z_stat.php?id=1276425737&web_id=1276425737", async="async", language="JavaScript")
    -if(terminal=='mobile')
        script(src="http://www.xingguangwujin.com/ves.php?id=926", async="async")