script.
    var friendly = [
        {name: '華人社導航', url: 'http://www.hrs1.xyz'},
        {name: '小萝莉导航', url: 'http://www.xll01.xyz/'},
        {name: '小姐姐导航', url: 'http://www.40cv.cn'},
        {name: 'QQ群小狼友导航网', url: 'http://av.qqqxly.com'},
        {name: '色色导航', url: 'http://www.seadh.top'},
        {name: '69色导航', url: 'http://www.69adh.top'},
        {name: '好色导航', url: 'http://www.hsadh.top'},
        {name: '撸撸导航', url: 'http://www.luadh.top'},
        {name: '久草导航', url: 'http://www.jccadh.top'},
        {name: '奶茶导航', url: 'https://www.2naicha.com'},
        {name: '爆菊导航', url: 'http://www.bjdh.xyz'},
        {name: 'baidu360福利导航', url: 'http://baidu360.me'},
        {name: '操逼逼导航', url: 'http://www.52caobb.top'},
        {name: '久久操精品导航', url: 'http://www.jjcao.xyz'},
        {name: '情不自禁', url: 'http://www.qingbuzijin.ga'},
        {name: '秘密入口', url: 'http://www.mimirukou.net'},
        {name: '奶茶视频', url: 'https://www.naicha4.com'},
        {name: '唯一福利导航', url: 'http://www.vydh.xyz/'},
        {name: '春楼福利导航', url: 'http://www.cldh.xyz/'},
        {name: '五次福利导航', url: 'http://www.wcdh.xyz/'},
        {name: '泡网激情导航', url: 'http://www.pwdh.xyz/'},
        {name: '非图AV导航', url: 'http://www.ftdh.xyz/'},
        {name: '优优精品导航', url: 'http://www.yyjp.xyz/'},
        {name: '抽插小萝莉', url: 'http://www.ccxll.xyz'},
        {name: '茶叶罐导航', url: 'http://www.cygdh.xyz'},
        {name: '狠狠干导航', url: 'http://www.hhgdh.xyz'},
        {name: '狂草美女', url: 'http://www.kcmn.xyz'},
        {name: '强奸AV导航', url: 'http://www.qjavdh.xyz'},
        {name: '久久福利导航', url: 'http://www.99dh.vip'},
        {name: '萌涩福利导航', url: 'http://msdhb.shop'},
        {name: '无码福利', url: 'http://www.wumafuli.com'},
        {name: '爱陌导航', url: 'http://www.aimodh.xyz'},
        {name: '学生妹福利导航', url: 'http://cs.af203.com'},
        {name: '邦硬女优导航', url: 'https://bangying0.com'},
        {name: '小萝莉导航', url: 'http://www.5uu.xyz'},
        {name: '中学生导航', url: 'http://www.77uu.xyz'},
        {name: '少女导航', url: 'http://www.luoli66.xyz'},
        {name: '萝莉片导航', url: 'http://www.loli1.xyz'},
        {name: '国产精品导航', url: 'http://www.guo2.xyz'},
        {name: '色吧精品导航', url: 'http://www.sebadh.xyz'},
        {name: '色娃精品导航', url: 'http://www.sewadh.xyz'},
        {name: '老湿机导航', url: 'https://url.cn/5pKrdIY'},
        {name: '老湿机在线', url: 'https://url.cn/5dP160y'},
        {name: '极品鲍导航', url: 'https://url.cn/5maZU8G'}
    ];
    var aStr = '';
    for(var a = 0; a < friendly.length; a++){
        aStr += '<a href="'+ friendly[a].url +'" target="_blank">'+ friendly[a].name +'</a>'
    }
    document.querySelector('.my-friendly').innerHTML = aStr;