/* charset="UTF-8" */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.lf{
    float: left;
}
.rf{
    float: right;
}
body{
    font-family: Microsoft YaHei;
    font-size: 14px;
    background: #2f2d2d;
}
.bodyer h2{
    max-width: 1200px;
    width: 100%;
    margin: 5px auto 0;
    padding-left: 10px;
    /* border-left: 2px solid #ccc; */
    height: 40px;
    line-height: 40px;
    font-weight: normal;
    color: #eee;
    font-size: 16px;
    border-bottom: 1px solid rgb(34, 34, 34);
    position: relative;
    /* background: #1f1c1c; */
}
.bodyer h2 a{
    position: absolute;
    right: 10px;
    color: #ff6738;
}
.bodyer h2 a:hover{
    color: #661c05;
}
.header-top{
    background: #fff;
}
.header-top h1{
    display: none;
}
.header-top .cont{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    color: rgb(46, 45, 45);
    font-size: 12px;
    padding: 5px;
}
.header{
    background: #1f1c1c;
    box-shadow: 2px 2px 10px rgba(60, 58, 58, 0.47);
}
.header .cont{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.header .cont a{
    display: block;
    height: 100%;
    color: #fff;
    padding: 0 18px;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
}

.header .cont a:hover, .header .cont a.active{
    background: #ff6738;
}
.header .shadow{
    width: 100%;
    height: 1px;
    margin: 0 auto;
    box-shadow: 0 0 30px rgba(255, 90, 30, 0.74);
}
.search .search-cont{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 20px 0;
}
.search .search-cont input{
    padding: 0 5px;
    border: 1px solid #e5e6e7;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.09);
    width: 80%;
    height: 40px;
}
.search .search-cont button{
    padding: 0 5px;
    border: 1px solid #e5e6e7;
    background: #dbddde;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.09);
    outline: none;
    width: 20%;
    height: 40px;
    cursor: pointer;
    font-size: 14px;
}
.search .search-cont button:active{
    background: #aeb0b1;
}
.data-list,.data-detail {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    /* background: #0e0e0e; */
    padding-bottom: 10px;
}
.data-list a{
    display: block;
    width: 25%;
    padding: 0 0.5%;
    margin-top: 10px;
}
.data-list a.no-more, .data-detaia.no-more{
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
.data-list a .list-img{
    height: 180px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2f2f2f;
    background: #252525;
    border-bottom: 0;
}
.data-list a .list-img img{
    width: 100%;
}
.data-list a .list-title{
    border: 1px solid #2f2f2f;
    border-top: 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: rgb(26, 25, 25);
    padding: 0 5px;
    color: #757575;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.data-list a:hover .list-title{
    color: #fb7b86;
}
.page{
    max-width: 1200px;
    width: 100%;
    margin: 10px auto;
}
.page a, .page span{
    display: inline-block;
    padding: 0 10px;
    line-height: 30px;
    background: #fff;
    border: 1px solid #e9e8e8;
    color: #999;
    border-right: 0;
}
.page a{
    color: #333;
}
.page a.active{
    background-color: #eec34e;
    border-color: #eec34e;
    color: #fff;;
}
.page a:hover{
    background-color: #f3b304;
    border-color: #f3b304;
    color: #fff;;
}
.page span:hover{
    cursor: not-allowed;
}
.footer{
    line-height: 40px;
    border-top: 1px solid #f2f2f2;
    text-align: center;
    background: #fff;
}

/* 详情 */
.data-detail{
    /* background: #000; */
    max-width: 1220px;
    padding: 0 10px;
    margin: 10px auto;
}
.data-detail .cont{
    width: 100%;
    min-height: 180px;
}
.data-detail .cont img{
    max-width: 100%;
}
.data-detail #video {
    width: 100%;
    max-width: 600px;
    height: 400px;
    background: #333;
}
.data-detail #toubiao{
    display: none;
}
.data-detail iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
.video-title{
    max-width: 1220px;
    margin: 10px auto 0;
    color: #ccc;
    font-size: 16px;
    padding: 0 10px;
}
.my-friendly{
    max-width: 1200px;
    margin: 5px auto;
    background: #333;
    padding: 2px 5px;
}
.my-friendly a{
    color: #ccc;
    display: inline-block;
    padding: 2px 5px;
}
.m-menu{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    position: relative;
    color: #fff;
    display: none;
    border-bottom: 1px solid #333;
}
.m-menu .show-menu{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    padding: 5px;
}
.m-menu .show-menu img{
    width: 100%;
}
.m-menu .show-menu:active{
    background: #252525;
}
.m-menu a{
    color: #999;
}
.guanggao {
    max-width: 1100px;
    margin: 0 auto;
}
.guanggao img{
    max-width: 100%;
}
.ug-down{
    line-height: 30px;
    width: 100%;
    color: #00BCD4;
}
h3.suiji{
    color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    border-left: 3px solid #fff;
    padding-left: 10px;
    height: 18px;
    line-height: 18px;
}
@media screen and (max-width: 1200px) {
    .search .search-cont{
        padding: 10px 8px;
    }
    .page{
        padding: 0 6px;
    }
}
@media screen and (max-width: 800px) {
    .data-list a{
        width: 33.33%;
    }
}
@media screen and (max-width: 600px) {
    .header .cont{
        padding: 6px;
        display: none;
    }
    .header .cont.show{
        display: flex;
    }
    .header .cont a{
        padding: 0;
        height: 25px;
        line-height: 25px;
        font-size: 14px;
        border-radius: 3px;
        width: 23%;
        margin: 1%;
        text-align: center;
    }
    .header .m-menu{
        display: block;
    }
    .data-list a .list-img{
        height: 120px;
    }
    .data-detail{
        padding: 0 5px;
    }
    .data-detail #video {
        height: 200px;
    }
    .footer{
        font-size: 12px;
    }
    h3.suiji{
        margin: 0 5px;
    }
}
@media screen and (max-width: 500px) {
    .data-list a{
        width: 50%;
    }
}